/* app css stylesheet */

ul {
    list-style-type: none;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: inline-flex;
}

html {
    background-color: #F9F9F9;
}

html, body, .container {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0
}
