.items-wrapper{
    box-shadow: 0 0 5px -1px #000;;
    border: 1px solid #F2F2F2;
    width: 430px;
    height: 425px;
    padding: 20px 25px;
    overflow: overlay;
    display: inline-block;
}

.items-title{
    font-size: 36px;
    color: #565A69;
    margin-bottom: 25px;
}

.selected-item::before {
    position: absolute;
    bottom: 0px;
    height: 56px;
    width: 3px;
    left: -25.5px;
    right: 0px;
    transition-property: height;
    content: "";
    background: #FF2F5A;
}

.add-item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-input{
    padding: 0 9px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: calc(290px - 1px*2 - 9px*2);
    height: calc(37px - 1px*2);
}

.add-new-btn{
    float: right;
    color: #fff;
    border-radius: 3px;
    width: 132px;
    height: 37px;
    border:none;
    background-color: #27CCC0;
}

.item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    border-bottom: 1px solid #F2F2F2;
}

.item-text-wrapper{
    display: flex;
    align-items: center;
}

.item-name{
    max-width: 274px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.item-chip{
    color: #fff;
    padding: 2px 7px;
    border-radius: 30px;
    background-color: #27CCC0;
    margin: 10px;
}

.delete-btn{
    border-radius: 3px;
    border: 1px solid #FF3159;
    width: calc(97px - 1px*2);
    height: calc(34px - 1px*2);
    color: #FF305A;
    background-color: #fff;
}

.no-items-text{
    color: #bbb;
    height: 205px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.8em;
}

