<div class="items-wrapper">
    <div class="items-title">Items</div>
    <div class="add-item-wrapper">
        <input class="item-input" type="text"
               ng-keyup="$event.keyCode == 13 && $ctrl.addItem()"
               ng-model="$ctrl.currentItem">
        <button class="add-new-btn" ng-click="$ctrl.addItem()">Add new</button>
    </div>
    <ul>
        <li class="item"
            ng-repeat="item in $ctrl.items track by item.id"
            ng-class="{'selected-item': $ctrl.selectedItem.id === item.id}"
            ng-click="$ctrl.selectItem(item)">
            <span class="item-text-wrapper">
                <span class="item-name">{{ item.value }}</span>
                <span class="item-chip">{{item.commentsCount}}</span>
            </span>
            <button class="delete-btn"
                ng-click="$ctrl.deleteItem(item.id)">Delete</button>
        </li>
    </ul>
    <div class="no-items-text" ng-if="$ctrl.items.length < 1">There are no items (; - ; ) </div>
</div>